
:root {
    --light: #ddd;
    --dark: #111;
  }

*{
    color: var(--contrast);
    font-family: monospace;
    margin: 0;
}

.dark-theme {
    --main: var(--dark);
    --contrast: var(--light);
}
  
.light-theme {
    --main: var(--light);
    --contrast: var(--dark);
}


body {
      background: var(--main);
}

a {
    color: inherit;
    text-decoration: inherit;
}

nav{
    position: sticky;
    top: 0;
}

.content{
    margin-left: auto;
    margin-right: auto;
}

.menu{
    background-color: var(--contrast);
    display: flex;
    flex-direction: row;
    
    padding: 10px 10px 10px 10px;
    width: 100%;
}

.menu-item{
    color: var(--main);
    cursor: pointer;
    margin-right: 15px;
}

.menu-item:hover{
    text-decoration: underline;
}

.theme-switcher{
    margin-right: 0pt;
}


@media only screen and (min-width : 320px) {
    
    nav{
        position: relative;
    }

    .menu{
        justify-content: center;
    }

    .menu-item{
        font-size: x-large;
    }

    .theme-switcher{
        display: none;
        margin-left: auto;
    }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

    nav{
        position: sticky;
    }

    .menu-item{
        font-size: large;
    }

    .content{
        width: 800px;
    }

    .menu{
        width: 780px;
    }

    .theme-switcher{
        display: inline;
    }

}