    <!-- Remember to specify "type" in frontmatter and use as arg in include -->
    
{% assign relevant-posts = site.posts | where: "type", include.type-to-show %}

<div class="blog-navigation">
    <div class="blog-filter-text">
        Filter by category:
        <div class="blog-filter-toggle">&lt;</div>
    </div>
    <div class="blog-categories">
        <div class="blog-category" data-category="all">All</div>
        {% assign categories = "" | split: ',' %}
        {% for post in relevant-posts %}
            {% if post.type contains include.type-to-show %}
                {% assign categories = categories | push: post.category %}
            {% endif %}
        {% endfor %}
        {% for category in categories %}
        <div class="blog-category-separator">|</div>
        <div class="blog-category" data-category="{{category}}">
        {{category}}
        </div>
    {% endfor %}
    </div>
</div>

<ul class="blog-list">
  
  {% for post in relevant-posts%} 
  <div class="{{ post.category | replace: ' ', '-'}} blog-post">
    <a href="{{ post.url }}">
      <li>
        <h3>{{ post.title }}</h3>
        {{post.date | date_to_string}} {{ post.excerpt }}
      </li>
    </a>
  </div>
  {% endfor %}
</ul>

<script src="/blog.js"></script>