    <div class=nav-wrapper>
        <nav>
            <div class="hamburger-icon">Menu <div class="menu-toggle">&lt;</div></div>
            <div class="menu">
                {% assign main_pages = site.main_pages | sort: 'page-order' %}
                {% for page in main_pages %}
                    <div class="menu-item"><a href="{{page.page_path}}">{{page.title}}</a></div>
                    {% unless forloop.last%}
                        <div class="menu-item-separator">|</div>
                    {% endunless %}
                {%endfor%}
                <!-- <div class="menu-item theme-switcher">Light Theme</div> -->
            </div>
        </nav>
    </div>