    <div class=nav-wrapper>
        <nav>
            <div class="hamburger-icon">Menu <div class="menu-toggle">&lt;</div></div>
            <div class="menu">
                <div class="menu-item"><a href="/index.html">Home</a></div>
                <div class="menu-item-separator">|</div>
                <div class="menu-item"><a href="/academic-work.html">Work</a></div>
                <div class="menu-item-separator">|</div>
                <div class="menu-item"><a href="/blog.html">Blog</a></div>
                <div class="menu-item-separator">|</div>
                <div class="menu-item"><a href="/about.html">About</a></div>
                <div class="menu-item theme-switcher">Light Theme</div>
            </div>
        </nav>
    </div>