---
layout: default
title: Home
---

<!doctype html>
<html>
  <head>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="/assets/js/script.js"></script>
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="default-wrapper">
      {% include navigation.html %}
      <div class="default-content">
        
        {{ content }}

      </div>
    </div>
    <div class="footer">
      {% assign currentYear = 'now' | date: "%Y" | plus:0 %}
      <div>&copy; Magnus Høholt Kaspersen {{currentYear}}</div>
  </div>
  </body>
</html>