---
layout: default
title: Home
---

<!doctype html>
<html>
  <head>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
  </head>
  <body>
    <div class="default-wrapper">
      <div class="default-content">
        {% include navigation.html %}
        {{ content }}

      </div>
      <div class="footer">
          <div><a href="/contact">Contact me</a></div>
          <div>&copy; Magnus Høholt Kaspersen 2021</div>
      </div>
    </div>
  </body>
</html>