<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title}}</title>
        <link rel="icon" type="image/png" href="/assets/images/favicon">
        <link rel="stylesheet" href="/style.css">
        {% feed_meta %}
        {% seo %}
    </head>
    <body class="dark-theme">

        <div class="wrapper">

            {% include navigation.html %}
            
            <div class ="content">
                {{ content }}
            
            </div>
            
        </div>
        <div class="footer">&copy; 2020 by Magnus Høholt Kaspersen</div>
        <script src="/navigation.js"></script>
        <noscript>You need to enable JavaScript to view the full site.</noscript>
    </body>
</html>